#interface {
  margin: auto;
  margin-top: 100px;
  width: 800px;
  height: 500px;
  display: block;
  background-image: url(fundo-game.jpg);
  border: 2px solid black;
}

#hp {
  display: inline-block;
  width: 100px; /*Será alterado via JS toda vez que tomar dano (corresponde à quantidade atual de vida)*/
  height: 30px;
  background-color: rgb(255, 255, 255);
  margin-left: 350px;
  margin-top: 15px;
}

#quantidadeHp {
  display: inline;
  margin-left: 5%;
  color: rgb(255, 6, 6);
  text-align: center;
  font-size: large;
}

#dano {
  display: inline-block;
  width: 100px;
  height: 30px;
  background-color: red;
  margin-top: 10px;
  margin-left: 350px;
}

#quantidadeDano {
  display: inline;
  margin-left: 5%;
  color: rgb(255, 245, 245);
  text-align: center;
  font-size: large;
}
#nome {
  display: none; /*mudar para inline-block quando aparecer inimigo*/
  width: 170px;
  height: 30px;
  margin-left: 350px;
  margin-top: 10px;
  color: rgb(255, 255, 255);
  text-align: center;
}

#area-mensagem {
  height: 250px;
  width: 600px;
  margin: auto;
  margin-top: 30px;
  word-wrap: break-word;
  background-color: white;
  border: 2px solid red;
  border-radius: 10%;
}

#mensagem {
  text-align: center;
  margin-top: 30px;
  margin-right: 10px;
  margin-left: 10px;
  font-family: cursive;
}

#morreu {
  font-family: fantasy;
  font-size: x-large;
  color: red;
  text-shadow: #000 2px 3px 2px;
}

#opcoes-decisao {
  display: none;
  width: 200px;
  height: 50px;
  margin: auto;
}

#resposta-nao {
  width: 80px;
  height: 40px;
  font-size: large;
  margin-left: 15px;
  margin-top: 10px;
  border-radius: 15%;
}

#resposta-nao:hover {
  color: red;
  border: 2px solid grey;
}

#resposta-sim {
  width: 80px;
  height: 40px;
  font-size: large;
  border-radius: 15%;
}

#resposta-sim:hover {
  color: green;
  border: 2px solid grey;
}

#prox-passo-btn {
  width: 200px;
  height: 50px;
  margin: auto;
}

#resposta-ok {
  width: 80px;
  height: 40px;
  font-size: large;
  margin-left: 55px;
  margin-top: 10px;
  border-radius: 15%;
}

#resposta-ok:hover {
  color: blue;
  border: 2px solid grey;
}

#textoFinal {
  color: red;
  font-size: xx-large;
  text-align: center;
  margin-top: 40%;
}

/*Rodapé */
#rodape {
  width: 800px;
  margin: auto;
  margin-top: 20px;
  text-align: center;
}

#nomeRodape {
  font-family: cursive;
  font-size: large;
  font-weight: bolder;
}

.icones {
  display: inline-block;
  padding: 10px;
  width: 50px;
  height: 50px;
}